@media(max-width:500px){
    .conteiner{
        width: 250px;  
        box-shadow: 5px 3px 5px  rgb(160, 190, 195);  
    }
    .gerado{
        font-size: 20px;
    }
    
    .devisao{
        width: 200px;
        padding-top: 3px;
    }
    
    .dados{
        margin-top: 7px;
        border: 15px solid var(--advice-dice-color);
        
    }
}